<mat-card>
  <mat-card-header>
    <mat-slide-toggle>Sunday</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <app-time-picker></app-time-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-slide-toggle>Monday</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <app-time-picker></app-time-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-slide-toggle>Tuesday</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <app-time-picker></app-time-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-slide-toggle>Wednesday</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <app-time-picker></app-time-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-slide-toggle>Thursday</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <app-time-picker></app-time-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-slide-toggle>Friday</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <app-time-picker></app-time-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-slide-toggle>Saturday</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <app-time-picker></app-time-picker>
  </mat-card-content>
</mat-card>
