:host {
  mat-card {
    padding: 0;
    overflow: hidden;

    &:not(:first-of-type) {
      margin-top: 25px;
    }

    mat-card-header {
      background-color: #9E9E9E;
      color: #3e464c;
      padding: 10px;
    }

    mat-card-content {
      padding: 10px;
      text-align: center;
    }
  }
}
