<mat-form-field class="hour-select">
  <mat-label>Hour</mat-label>
  <mat-select>
    <mat-option [value]="1">01</mat-option>
    <mat-option [value]="2">02</mat-option>
    <mat-option [value]="3">03</mat-option>
    <mat-option [value]="4">04</mat-option>
    <mat-option [value]="5">05</mat-option>
    <mat-option [value]="6">06</mat-option>
    <mat-option [value]="7">07</mat-option>
    <mat-option [value]="8">08</mat-option>
    <mat-option [value]="9">09</mat-option>
    <mat-option [value]="10">10</mat-option>
    <mat-option [value]="11">11</mat-option>
    <mat-option [value]="12">12</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="minute-select">
  <mat-label>Minutes</mat-label>
  <mat-select>
    <mat-option [value]="0">00</mat-option>
    <mat-option [value]="1">01</mat-option>
    <mat-option [value]="2">02</mat-option>
    <mat-option [value]="3">03</mat-option>
    <mat-option [value]="4">04</mat-option>
    <mat-option [value]="5">05</mat-option>
    <mat-option [value]="6">06</mat-option>
    <mat-option [value]="7">07</mat-option>
    <mat-option [value]="8">08</mat-option>
    <mat-option [value]="9">09</mat-option>
    <mat-option [value]="10">10</mat-option>
    <mat-option [value]="11">11</mat-option>
    <mat-option [value]="12">12</mat-option>
    <mat-option [value]="12">13</mat-option>
    <mat-option [value]="12">14</mat-option>
    <mat-option [value]="12">15</mat-option>
    <mat-option [value]="12">16</mat-option>
    <mat-option [value]="12">17</mat-option>
    <mat-option [value]="12">18</mat-option>
    <mat-option [value]="12">19</mat-option>
    <mat-option [value]="12">20</mat-option>
    <mat-option [value]="12">21</mat-option>
    <mat-option [value]="12">22</mat-option>
    <mat-option [value]="12">23</mat-option>
    <mat-option [value]="12">24</mat-option>
    <mat-option [value]="12">25</mat-option>
    <mat-option [value]="12">26</mat-option>
    <mat-option [value]="12">27</mat-option>
    <mat-option [value]="12">28</mat-option>
    <mat-option [value]="12">29</mat-option>
    <mat-option [value]="12">30</mat-option>
    <mat-option [value]="12">31</mat-option>
    <mat-option [value]="12">32</mat-option>
    <mat-option [value]="12">33</mat-option>
    <mat-option [value]="12">34</mat-option>
    <mat-option [value]="12">35</mat-option>
    <mat-option [value]="12">36</mat-option>
    <mat-option [value]="12">37</mat-option>
    <mat-option [value]="12">38</mat-option>
    <mat-option [value]="12">39</mat-option>
    <mat-option [value]="12">40</mat-option>
    <mat-option [value]="12">41</mat-option>
    <mat-option [value]="12">42</mat-option>
    <mat-option [value]="12">43</mat-option>
    <mat-option [value]="12">44</mat-option>
    <mat-option [value]="12">45</mat-option>
    <mat-option [value]="12">46</mat-option>
    <mat-option [value]="12">47</mat-option>
    <mat-option [value]="12">48</mat-option>
    <mat-option [value]="12">49</mat-option>
    <mat-option [value]="12">50</mat-option>
    <mat-option [value]="12">51</mat-option>
    <mat-option [value]="12">52</mat-option>
    <mat-option [value]="12">53</mat-option>
    <mat-option [value]="12">54</mat-option>
    <mat-option [value]="12">55</mat-option>
    <mat-option [value]="12">56</mat-option>
    <mat-option [value]="12">57</mat-option>
    <mat-option [value]="12">58</mat-option>
    <mat-option [value]="12">59</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="period-select">
  <mat-label>Period</mat-label>
  <mat-select>
    <mat-option value="AM">AM</mat-option>
    <mat-option value="AM">PM</mat-option>
  </mat-select>
</mat-form-field>
