:host {
  mat-card {
    mat-card-content {
      text-align: center;

      p {
        margin: 0;

        &:not(:first-of-type) {
          margin-top: 10px;
        }

        .description {
          display: block;
          border-top: 1px solid;
          font-size: 0.85em;
          margin-top: 4px;
          opacity: 0.5;
          padding-top: 2px;
        }
      }
    }
  }
}
