<mat-card>
  <mat-card-content>
    <div class="control-panel">
      <app-joystick></app-joystick>
      <section class="switches">
        <mat-slide-toggle>Side Brush</mat-slide-toggle>
        <mat-slide-toggle>Main Brush</mat-slide-toggle>
        <mat-slide-toggle>Vacuum</mat-slide-toggle>
      </section>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="sensors-info">
      <p>0<span class="description">Side Brush Current</span></p>
      <p>0<span class="description">Main Brush Current</span></p>
      <p>0<span class="description">Distance</span></p>
      <p>0<span class="description">Angle</span></p>
      <p>0<span class="description">Left Wheel Current</span></p>
      <p>0<span class="description">Right Wheel Current</span></p>
      <p>0<span class="description">Left Wheel Position</span></p>
      <p>0<span class="description">Right Wheel Position</span></p>
      <p class="full-row">0<span class="description">Stasis Wheel Status</span></p>
    </div>
  </mat-card-content>
</mat-card>
