:host {
  mat-chip {
    width: 100%;
    padding: 0;

    & > * {
      padding: 10px;
    }

    .note {
      background-color: rgba($color: white, $alpha: 0.5);
      color: #7B1FA2;
      font-size: 1.3em;
      padding-left: 12px;
      padding-right: 8px;
    }

    .info {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
